---
import { getCollection, render } from "astro:content";
import Base from "../../layouts/Base.astro";
import DateComponent from "../../components/Date.astro";
import Tags from "../../components/Tags.astro";
import Outdated from "../../components/Outdated.astro";
import Links from "../../components/Links.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.data.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Base title={post.data.title} description={post.body?.substring(0, 100)}>
  <div class="mb-4">
    <h1 class="font-serif text-4xl break-words">{post.data.title}</h1>
    <DateComponent date={post.data.date} class="text-sm" />
  </div>

  {post.data.tags?.length && <Tags tags={post.data.tags} class="mb-8" />}

  <Outdated date={post.data.date} />

  <div
    class="prose md:prose-lg prose-a:text-cyan-700 prose-a:underline prose-a:font-semibold prose-a:decoration-cyan-500 prose-a:underline-offset-2 mb-8"
  >
    <Content />
  </div>

  <Links class="lg:hidden border-t border-gray-200 mt-8" />
</Base>
